<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/index.css" />
        <script src="htmx.min.js"></script>

    </head>

    <body id="page-body">

        <div id="chat_room" class="m-28 mb-12">
            <h1 class="text-4xl"> HTMX is pretty cool </h1>
            <p>Try some of the examples below:</p>
        </div>

        <div class="flex center mx-28">

            <div id="parent-div">
                <button class="rounded bg-purple-600 p-4 text-white m-4"
                    hx-get="/click_me"
                    hx-trigger="click"
                    hx-target="#parent-div"
                    hx-swap="outerHTML"
                >
                    Click Me!
                </button>
            </div>

            <div id="parent">
                <button class="rounded bg-purple-600 p-4 text-white m-4"
                    hx-get="/get_echo"
                    hx-trigger="click"
                    hx-target="#form-space"
                    hx-swap="outerHTML"
                >
                    Get echo form!
                </button>
            </div>

            <div id="parenty">
                <button 
                    class="rounded bg-purple-600 p-4 text-white m-4"
                    hx-get="/hello_world"
                    hx-trigger="click"
                    hx-target="#parenty"
                    hx-swap="outerHTML"
                >
                    Run Hello World
                </button>
            </div>

            <button class="rounded bg-purple-600 p-4 text-white m-4"
                hx-get="/load_dashboard"
                hx-trigger="click"
                hx-target="#page-body"
                hx-swap="outerHTML"
            >
                Load TailwindUI Dashboard
            </button>

        </div>

        
        <div id="form-space">

        </div>
    </body>
</html>